// Color pallette variables
$primary-color: #191919;
$link-color: #dd712e;
$black: #000;
$white: #fff;
$light-grey: #3c3f3f;
$dark-grey: #292b2b;
$fade-grey: #e5e5e5;
$font-stack: Helvetica, sans-serif;


// Angular UI Bootstrap empty href CSS fix
.nav, .pagination, .carousel, .panel-title a {
  cursor: pointer;
}

body {
  padding: 0;
  margin: 0;
  color: $primary-color;
  font: $font-stack;
  font-size: 1.2em;
  background: url('/img/bg.png');
}

.row {
  margin: 0;
}

.row.hr {
  border-bottom: 1px dashed $fade-grey;
}

a {
  color: $link-color;
}

.container {
  max-width: 1024px;
  padding: 15px;
  background-color: $white;
}

.header-logo {
  max-width: 100%;
}

header {

  .header {
    padding: 5px 5px 20px 5px;
  }

  .navbar-default {
    background: none;
    border: 0;
  }

  nav {
    width: 100%;

    .nav {
      background-color: $light-grey;
      width: 100%;

      li {

        a:hover, a:active, a:visited {
          color: $white;
          background-color: $dark-grey;
          text-transform: uppercase;
        }
      }
    }

    ul {
      li {
        height: 100%;
        font-size: 1.2em;

        a {
          color: $white;
          text-transform: uppercase;
        }
      }
    }
  }

  .header-contact {
      text-align: right;
      font-weight: bold;

    address {
      display: inline;
    }
  }

  .header-social {
    text-align: right;
    font-size: 2em;

    ul {
      list-style: none;

      li {
        display: inline-block;

        a {
          display: inline-block;
          color: $light-grey;
          &:hover {
            color: $dark-grey;
          }
        }
      }
    }
  }
}

footer {
  color: $white;
  background-color: $black;

  .container {
    background: none;
  }

  h3 {
    font-size: 1.5em;
    margin-top: 0;
    margin-left: 13px;
  }

  .footer-top {
    background-color: $dark-grey;
  }

  .footer-bottom {
    background-color: $black;

    a {
      color: $white;
    }
  }

  .twitter-feed {
    background-image: url('/img/twitter-bg.png');
    background-repeat: no-repeat;
    background-position: bottom center;
    min-height: 100px;
    min-width: 100px;
  }

  .terms {
    text-align: left;
  }

  .credits {
    text-align: right;
  }

  img.burfield-logo {
    height: 2em;
  }
}






.welcome {
  text-align: center;
  padding: 0 0 25px 0;
}

.services {
  text-align: center;
  padding: 25px 0;

   .service-image {
     max-width: 100%;
   }

   .read-more {
     text-transform: uppercase;
     font-weight: bold;
   }
}

.clients {
  position: relative;
  text-align: center;
  padding: 25px 0;
  height: 100%;

  .client {
    display: inline-block;
    height: 100%;
    max-width: 12.5%;
    padding: 25px;
    float: left;
    vertical-align: middle;
  }
  .client-image {
    max-width: 100%;
    display: block;
    vertical-align: middle;
  }
}
