.nav, .pagination, .carousel, .panel-title a {
  cursor: pointer; }

body {
  padding: 0;
  margin: 0;
  color: #191919;
  font: Helvetica, sans-serif;
  font-size: 1.2em;
  background: url('/img/bg.png'); }

.row {
  margin: 0; }

.row.hr {
  border-bottom: 1px dashed #e5e5e5; }

a {
  color: #dd712e; }

h2 {
  font-size: 2em;
  font-weight: bold; }

.container {
  max-width: 1024px;
  padding: 15px;
  background-color: white; }

.header-logo {
  max-width: 100%; }

header .header {
  padding: 5px 5px 20px 5px; }
header .navbar-default {
  background: none;
  border: 0; }
header nav {
  width: 100%; }
  header nav .nav {
    background-color: #3c3f3f;
    width: 100%; }
    header nav .nav li a:hover, header nav .nav li a:active, header nav .nav li a:visited {
      color: white;
      background-color: #292b2b;
      text-transform: uppercase; }
  header nav ul li {
    height: 100%;
    font-size: 1.2em; }
    header nav ul li a {
      color: white;
      text-transform: uppercase; }
header .header-contact {
  text-align: right;
  font-weight: bold; }
  header .header-contact address {
    display: inline; }
header .header-social {
  text-align: right;
  font-size: 2em; }
  header .header-social ul {
    list-style: none; }
    header .header-social ul li {
      display: inline-block; }
      header .header-social ul li a {
        display: inline-block;
        color: #3c3f3f; }
        header .header-social ul li a:hover {
          color: #292b2b; }

footer {
  color: white;
  background-color: black; }
  footer .container {
    background: none; }
  footer h3 {
    font-size: 1.5em;
    margin-top: 0;
    font-weight: bold; }
  footer .contact h3 {
    margin-left: 13px; }
  footer .footer-top {
    background-color: #292b2b; }
  footer .footer-bottom {
    background-color: black; }
    footer .footer-bottom a {
      color: white; }
  footer .twitter-feed {
    background-image: url('/img/twitter-bg.png');
    background-repeat: no-repeat;
    background-position: bottom right;
    min-height: 100px;
    min-width: 100px; }
  footer .terms {
    text-align: left; }
  footer .credits {
    text-align: right; }
  footer img.burfield-logo {
    height: 2em; }

.welcome {
  text-align: center;
  padding: 0 0 25px 0; }

.services {
  text-align: center;
  padding: 25px 0; }
  .services .service-image {
    max-width: 60%; }
  .services .read-more {
    text-transform: uppercase;
    font-weight: bold; }

.clients {
  position: relative;
  text-align: center;
  padding: 25px 0;
  height: 100%; }
  .clients .client {
    display: inline-block;
    height: 100%;
    max-width: 12.5%;
    padding: 25px;
    float: left;
    vertical-align: middle; }
  .clients .client-image {
    max-width: 100%;
    display: block;
    vertical-align: middle; }
